<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Powerhouse</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="/">Powerhouse SF</a></h1>
      <!-- <div class="header-logo-container">
        <a href="/">
          <img src="" alt="The Cat Collector Logo" />
        </a>
      </div> -->
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/current">Current Staff</a></li>
          <li><a href="/staff-past">Past Staff</a></li>
          <li><a href="/bar-history">Bar History</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/mr-ph">Mr. Powerhouse</a></li>
          <li><a href="/ms-ph">Ms. Powerhouse</a></li>
          <li><a href="/sling-it">Sling It</a></li>
          <li><a href="/tattoos">Tattoos</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/pix">Pix</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/map">Map</a></li>
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>